<div class="page-home">
  <div class="abs-center d-flex">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Sistema de Encuentas</h1>
          <h3 class="text-center mb-3">Estilos Músicales</h3>
        </div>
        <div class="col-12">
          <div class="d-grid gap-2">
            <a class="btn btn-outline-secondary" routerLink="/survey">ENCUENTA</a>
            <a class="btn btn-outline-secondary" routerLink="/survey-results">RESULTADO</a>
            <a class="btn btn-outline-secondary" routerLink="/about">ACERCA DE</a>
            <a class="btn btn-outline-secondary" (click)="logout()">SALIR</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
