<div class="container-fluid page-about">
  <div class="abs-center">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img class="about-logo img-fluid" src="assets/images/kevin.svg">
        </div>
        <div class="col-md-9">
          <div class="wrapper">
            <h1 class="header">Encuentas</h1>
            <div class="row">
              <div class="col-md-12">
                <p>Una aplicaciòn de encuenta desarrollada por <span class="fw-bold">Deiber Velandria</span> para 3it</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <a class="back" routerLink="/">Volver</a>
        </div>
      </div>
    </div>
  </div>
</div>