/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;900&display=swap');

body{
  background-color: #ecebeb;
  font-family: 'Nunito Sans', sans-serif;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container{
  max-width: 960px;
}
