<div class="container-fluid">
  <div class="abs-center">
    <div class="page-home container">
      <h1 class="text-center">Sistema de Encuentas</h1>
      <h3 class="text-center mb-3">Estilos Músicales</h3>
      <div class="d-grid gap-2">
        <a class="btn btn-outline-secondary" routerLink="/survey">ENCUENTA</a>
        <a class="btn btn-outline-secondary" routerLink="/results">RESULTADO</a>
        <a class="btn btn-outline-secondary" routerLink="/about">ACERCA DE</a>
      </div>
    </div>
  </div>
</div>